In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Capstone_Data") \
    .master("local[*]") \
    .getOrCreate()
print("Spark is running. Don't forget to stop session to terminate background java process!")

Spark is running. Don't forget to stop session to terminate background java process!

Weigh In Motion Historical Data 2019 - 2023

In [5]:
df = spark.read.csv("Data_Exploration/Data/Weigh_in_Motion_19_23.csv", header=True, inferSchema=True)
df.show(5)

+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|direction|year|month|day|hour|minute|second|lane|class|speed|num_axles| gvw|wheelbase| wt1|spc1| wt2|spc2| wt3|spc3| wt4|spc4| wt5|spc5| wt6|spc6| wt7|spc7| wt8|spc8| wt9|spc9|wt10|spc10|wt11|spc11|wt12|spc12|wt13|spc13|wt14|spc14|wt15|spc15|wt16|spc16|wt17|dirtravel|yearmonth|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|       QB|  23|    5|  8|  17|    53|    16|   2|    2|   49|        2|4880|      9.5|2700| 9.5|2180|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202305|
|       QB|  23|    9| 13|  22|     6|    18|   1|    2|   46|        2|5760|      9.6|3080| 9.6|2680|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202309|
|       QB|  23|    8| 22|  16|     6|    24|   1|    2|   55|        2|5840|      9.2|3140| 9.2|2700|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202308|
|       QB|  23|   11| 27|   1|    27|    23|   1|    2|   45|        2|3760|      9.3|2240| 9.3|1520|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202311|
|       QB|  23|    8| 31|  17|    38|    47|   1|    3|   11|        2|5820|     12.6|3460|12.6|2360|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202308|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
only showing top 5 rows

In [6]:
df.createOrReplaceTempView("table1")

In [ ]:
#df2 contains daily count of vehicles

df2 = spark.sql("""
SELECT direction, year, month,day, class, COUNT(*) AS class_count
FROM table1
GROUP BY direction,year,month,day, class
""")

In [8]:
df2.select("direction").distinct().collect()

#2 main directions Queens Bound, Staten Island Bound

[Row(direction='QB'), Row(direction='SIB')]

In [ ]:
QB_df = df2.filter(df2.direction == "QB") #Filtering for Queens bound traffic #18,009 records
SIB_df = df2.filter(df2.direction == "SIB") #filtering for SI bound traffic #5,690 records

In [12]:
QB_df.count()

18009

In [11]:
#Exporting Filtered DF for daily vehicle count class 6 or higher QB
#Filtered Dataset is small enough to save locally

QB_df.toPandas().to_csv("Data_Exploration/Data/QB_daily_vehicle_count_19_23.csv", index=False)

SIB_df.toPandas().to_csv("Data_Exploration/Data/SIB_daily_vehicle_count_19_23.csv", index=False)

In [ ]:
spark.stop() #Dont forget to end session

Weigh In Motion Data 2024 - 2025

In [13]:
df = spark.read.csv("Data_Exploration/Data/Weigh_in_Motion_24_25.csv", header=True, inferSchema=True)
df.show(5)

+---------+----+-----+---+----+------+------+----+-----+-----+---------+-----+---------+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|direction|year|month|day|hour|minute|second|lane|class|speed|num_axles|  gvw|wheelbase| wt1|spc1|  wt2|spc2| wt3|spc3| wt4|spc4| wt5|spc5| wt6|spc6| wt7|spc7| wt8|spc8| wt9|spc9|wt10|spc10|wt11|spc11|wt12|spc12|wt13|spc13|wt14|spc14|wt15|spc15|wt16|spc16|wt17|dirtravel|yearmonth|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+-----+---------+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|       QB|  24|    8| 26|   6|    30|    55|   2|    2|   52|        2| 4400|      9.4|2600| 9.4| 1800|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202408|
|       QB|  24|    1| 20|  15|    29|    21|   1|    2|   38|        2| 4260|      9.4|2260| 9.4| 2000|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202401|
|       QB|  24|    8| 14|  17|    12|    49|   2|    2|   51|        2| 5580|     10.0|2680|10.0| 2900|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202408|
|       QB|  24|    4|  1|   9|    14|    12|   1|    5|   43|        2|21700|     17.8|6720|17.8|14980|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202404|
|       QB|  24|    8|  5|  18|    48|    29|   2|    3|   48|        2| 6300|     11.7|3540|11.7| 2760|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202408|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+-----+---------+----+----+-----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
only showing top 5 rows

In [14]:
df.createOrReplaceTempView("table1")

In [15]:
#df2 contains daily count of vehicles class 6

df2 = spark.sql("""
SELECT direction, year, month,day, class, COUNT(*) AS class_count
FROM table1
GROUP BY direction,year,month,day, class
""")

In [16]:
df2.select("direction").distinct().collect()

#Only one direction Queens Bound

[Row(direction='QB')]

In [ ]:
QB_df = df2.filter(df2.direction == "QB") #Filtering for Queens bound traffic #5,777 records

In [18]:
QB_df.count()

5777

In [ ]:
#Exporting Filtered DF for daily vehicle count
#Filtered Dataset is small enough to save locally

QB_df.toPandas().to_csv("Data_Exploration/Data/QB_daily_vehicle_count_24_25.csv", index=False)

In [20]:
spark.stop() #Dont forget to end session