In [16]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Capstone_Data") \
    .master("local[*]") \
    .getOrCreate()
print("Spark is running!")

Spark is running!

In [2]:
df = spark.read.csv("Weigh_in_Motion_19_23.csv", header=True, inferSchema=True)
df.show(5)

+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|direction|year|month|day|hour|minute|second|lane|class|speed|num_axles| gvw|wheelbase| wt1|spc1| wt2|spc2| wt3|spc3| wt4|spc4| wt5|spc5| wt6|spc6| wt7|spc7| wt8|spc8| wt9|spc9|wt10|spc10|wt11|spc11|wt12|spc12|wt13|spc13|wt14|spc14|wt15|spc15|wt16|spc16|wt17|dirtravel|yearmonth|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
|       QB|  23|    5|  8|  17|    53|    16|   2|    2|   49|        2|4880|      9.5|2700| 9.5|2180|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202305|
|       QB|  23|    9| 13|  22|     6|    18|   1|    2|   46|        2|5760|      9.6|3080| 9.6|2680|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202309|
|       QB|  23|    8| 22|  16|     6|    24|   1|    2|   55|        2|5840|      9.2|3140| 9.2|2700|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202308|
|       QB|  23|   11| 27|   1|    27|    23|   1|    2|   45|        2|3760|      9.3|2240| 9.3|1520|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202311|
|       QB|  23|    8| 31|  17|    38|    47|   1|    3|   11|        2|5820|     12.6|3460|12.6|2360|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL| NULL|NULL|     NULL|   202308|
+---------+----+-----+---+----+------+------+----+-----+-----+---------+----+---------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+-----+----+---------+---------+
only showing top 5 rows

In [3]:
df.createOrReplaceTempView("table1")

In [4]:
#df2 contains daily count of vehicles class 6

df2 = spark.sql("""
SELECT direction, year, month,day, class, COUNT(*) AS class_count
FROM table1
WHERE class > 5
GROUP BY direction,year,month,day, class
""")

In [5]:
df2.select("direction").distinct().collect()

#2 main directions Queens Bound, Staten Island Bound

[Row(direction='QB'), Row(direction='SIB')]

Queens Bound Traffic Distribution

In [6]:
QB_df = df2.filter(df2.direction == "QB")

#10,974 records

In [ ]:
#Exporting Filtered DF for daily vehicle count class 6 or higher QB
#Filtered Dataset is small enough to save locally

#QB_df.toPandas().to_csv("C:/Users/rubie/Desktop/New folder/QB_daily_vehicle_count.csv", index=False)

In [12]:
spark.stop() #Dont forget to end session